html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-left : 5vw;
  padding-right : 5vw;
  background-color: linear-gradient( rgb(163, 231, 248, white));
}

body {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #ffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

.row {
  display: flex;
  padding:10px;
  padding-left: 40px;
  padding-right: 40px;
}


@media screen and (max-width: 800px) {
  .row{
    display: flex;
    padding:10px;
  }
}

.section1{
  padding-bottom: 220px;
  padding-top: 220px;
  min-height: 100vh;
}

#parallax2{
  background-image: url("https://gdurl.com/WRQi");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax {
  background-image: url(https://picsum.photos/g/1920/1080?random);
  /*background-image: linear-gradient(#CBD2BA, #9AD1CB, #76B2D8, #588AAF, #143F49 );*/
  height: 100%;
  background-attachment: fixed ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo-bonheur{
  width: 50%;
  height: 50%;
  display: flex;
  animation-name: animationlogo;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes animationlogo {
  0% {transform: translateY(-200px);}
  50% {transform: translateY(-100px);}
  80% {transform: translateY(20px);}
  100% {transform: translateY(-0px);}
}


@media screen and (max-width: 800px) {
#logo-bonheur{
  width: 100%;
  height: 100%;
}
.column-couleur{
  flex: 100%;
  padding: 0px;
  padding-top: 10px;
}
.column-couleur p{
  font-size: 10px;
}
.texte-produit{
  padding-left: 10px !important;
  padding-right: 10px !important;
}
}

.texte-produit{
  padding-top: 0px;
  padding-left: 150px;
}
#texte1{
  font-family: 'Didot', sans-serif;
  padding-top: 0px;
  padding-bottom: 30px;
}
.ligne-horizontale-texte{
  height: 1px;
  background-color: white;
  width: 100%;
}
#texte2{
  font-family: 'Didot', sans-serif;
  padding-top: 30px;
}
#logo-trio-bonheur{
  padding-top: 100px;
  padding-bottom: 0px;
  text-align: center;
}
#energie{
  animation-name: energie;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes energie {
  0% {transform: translateX(-5px);}
  25% {transform: translateY(-5px);}
  50% {transform: translateX(5px);}
  75% {transform: translateY(5px);}
  100% {transform: translateX(-5px);}
}
#relaxation{
  animation-name: relaxation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes relaxation {
  0% {transform: translateY(0px);}
  25% {transform: translateY(10px);}
  50% {transform: translateY(0px);}
  75% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}
#concentration{
  animation-name: concentration;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes concentration {
  0% {transform: translateX(0px);}
  25% {transform: translateX(10px);}
  50% {transform: translateX(0px);}
  75% {transform: translateX(-10px);}
  100% {transform: translateX(0px);}
}
.column-logo{
  padding: 10px;
}
.column-logo p {
  padding-top: 10px;
  font-size: 12px;
}
.sachet50100g{
  padding-top: 300px;
  padding-bottom: 15px;
}
.photoshoot-bonheur{
  padding-top: 0px;
}
.logotype h1{
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#couleurs h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#logo-bonheur2{
  padding-top: 50px;
  padding-bottom: 50px;
}
#logo-bonheur3{
  padding-top:80px;
  padding-bottom: 90px;
}
.ligne-horizontale{
  height: 2px;
  background-color: white;
  width: 100%;
}
.column-couleur{
  padding: 0px;
  padding-top: 10px;
  flex: 16%;
  font-size: 10px;
}
#typo{
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
}
#typo h1{
  font-size: 20px;
}
#row-typo{
  padding-left:5px;
}
.column-didot{
  font-family: 'Didot', sans-serif;;
  flex: 50%;
  padding:10px;
}
.column-montserrat{
  font-family: 'Montserrat', sans-serif;
  flex: 50%;
  padding:10px;
}
#mock-up-packaging{
  padding-top: 75px;
}
#carte-de-visite{
  padding-top: 0px;
  padding-bottom: 50px;
}








