@import url("https://use.typekit.net/nzr5pyb.css");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
    background-color: #D18828;
    color: white;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 0 15%;
    color: #D18828;
    font-family: "Niagara", sans-serif;
    font-size: 2.8rem;
    font-weight: 100;
    letter-spacing: .15rem;
    line-height: 1.3;
    color: D18828;
    background-color: #333333;
}

.background {
    background-color: #073D39;
    background-image: url(img/pattern_fond.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 310rem;
}

.header {
    height: 65vh;
    background-color: #D18828;
    padding: 1rem;

}
    

.header__background {
    height: 100%;
    background-color: #073D39;
    background-image: url(img/pattern_fond_logo_top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}
    
.header__logo-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__logo {
        width: 10rem;
}

.first__logo {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15rem;
}

.paragraph {
    text-align: center;
}
.paragraph:not(:last-child) {
    padding-top: 50rem;
    padding-bottom: 5rem;
}

.square {

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

